* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}


.top-header {
  background: white;
  padding: 15px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
    display: flex;
    position: relative;
    right: 50px;
  width: 130px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-right span{
    position: relative;
    right: 1060px;
}

.Sign-icon {
  border: none;
  background: none;
  color: red;
  font-weight: 600;
  cursor: pointer;
}

.hero {
  min-height: 100vh;
  background: #0f111a;
  color: white;
  position: relative;
  overflow: hidden;
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.apptics-dark {
  width: 150px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.menu .demo {
  font-weight: bold;
}


.hero-content {
  margin-top: 60px;
  max-width: 800px;
}

.hero-content h1 {
  font-size: 60px;
  line-height: 1.1;
}
.Unified{
    display: inline;
    position: absolute;
    right: 730px;
    top: 144px;
}
.product{
    display: inline;
    position: absolute;
    right: 760px;
    top: 200px;
}
.sech1{
    display: inline;
    position: absolute;
    right: 290px;
    top: 144px;
}

.hero-content p {
  margin-top: 190px;
  font-size: 18px;
  color: white;
  position: relative;
  right: 100px;
  top: 20px;
  font-size: larger;
  font-weight: 400;
}


.hero-buttons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.Access {
  padding: 15px 50px;
  background: crimson;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 1020px;
}

.Request {
  padding: 15px 45px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 800px;
}


.banner {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.banner img {
  max-width: 90%;
}
.Supporting{
    display: block;
    background-color: black;
    min-height: 100vh;
      position: relative;
  overflow: hidden;
    
}
.Supporting h1{
    color: white;
    margin-left: 90px;
    font-size: 40px;


}
.SDK{
    margin-top: 200px;
}
.icon{
  color: white;
}
.iossvg{
  position:relative;
  left: 660px;
  bottom: 200px;
}
.ios{
  position: relative;
  left: 600px;
  bottom: 170px;
  font-size: 25px;
  font-weight: 400;
}
.ipadossvg{
  position: relative;
  left: 670px;
  bottom: 200px;
}
.ipados{
  position: relative;
  left: 590px;
  bottom: 170px;
  font-size: 25px;
}
.mac-ossvg{
  position: relative;
  left: 660px;
  bottom: 200px;

}
.mac-oss{
  position: relative;
  left: ;
}