* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

.main-logo {
    margin: 20px;
    width: 130px;
}

.header-dev {
    display: flex;

}

.Products {
    position: absolute;
    right: 1260px;
    top: 40px;
}

.bx-search {
    position: absolute;
    right: 100px;
    margin: 40px;
}

.Sign-icon {
    position: absolute;
    right: 50px;
    top: 40px;
    border: none;
    outline: none;
    background-color: white;
    color: red;
}

.header-sec {
    position: relative;
    z-index: 1;
    background-color: #0f111a;
    width: 100%;
    height: 700px;
    margin-top: -15px;
}

.apptics-dark {
    position: absolute;
    width: 150px;
    right: 1270px;
    margin-top: 10px;
}

.Features {
    position: absolute;
    border: none;
    outline: none;
    right: 550px;
    background-color: #0f111a;
    color: white;
    font-size:medium;
    font-weight: 100;
    margin-top: 20px;
}

.Pricing {
    position: absolute;
    border: none;
    outline: none;
    right: 450px;
    background-color: #0f111a;
    color: white;
    font-size:medium;
    font-weight: 100;
    margin-top: 20px;

}

.Solutions {
    position: absolute;
    border: none;
    outline: none;
    right: 350px;
    background-color: #0f111a;
    color: white;
    font-size:medium;
    font-weight: 100;
    margin-top: 20px;

}

.Resources {
    position: absolute;
    border: none;
    outline: none;
    right: 250px;
    background-color: #0f111a;
    color: white;
    font-size:medium;
    font-weight: 100;
    margin-top: 20px;
}
.RequestDemo{
     position: absolute;
    border: none;
    outline: none;
    right: 120px;
    background-color: #0f111a;
    color: white;
    font-size:medium;
    font-weight: 500;
    margin-top: 20px;


}
.section{
    display: block;
    /* z-index: 10px; */
    color: white;
}

.Unifide{
    position: absolute;
    right: 790px;
    bottom: 500px;
    font-size: 60px;
}
.actionable{
position: absolute;
right: 360px;
bottom: 500px;
 font-size: 60px;
}
.product{
position: absolute;
right: 800px;
bottom: 400px;
font-size: 60px;
top: 200px;

}
.ptag{
position: absolute;
right: 470px;
bottom: 300px;
font-size: 20px;
top: 290px;

}
.Access{
    background-color: crimson;
    color: white;
    position: absolute;
    padding: 15px 60px;
    border-radius: 5px;
    right: 979px;
    top: 360px;
    border: none;
        font-size: larger;
    font-weight: 600;
}
.Request{

    background-color: transparent;
    color: white;
    border: 1px solid white;
    position: absolute;
    padding: 15px 50px;
    border-radius: 5px;
    right: 720px;
    top: 360px;
    font-size: larger;
    font-weight: 600;
}
.zwc-bnr-video{
    position: absolute;
   top: 500px;
   padding-left: 110px;
}