* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

.main-logo {
    margin: 20px;
    width: 130px;
}

.header-dev {
    display: flex;

}

.Products {
    position: absolute;
    right: 1260px;
    top: 40px;
}

.bx-search {
    position: absolute;
    right: 100px;
    margin: 40px;
}

.Sign-icon {
    position: absolute;
    right: 50px;
    top: 40px;
    border: none;
    outline: none;
    background-color: white;
    color: red;
}

.header-sec {
    position: relative;
    z-index: 1;
    background-color: #0f111a;
    width: 100%;
    height: 700px;
    margin-top: -15px;
}

.apptics-dark {
    position: fixed;
    width: 110px;
    right: 1150px;
    margin-top: 10px;
}

.Features {
    position: absolute;
    border: none;
    outline: none;
    right: 550px;
    background-color: #0f111a;
    color: white;
    font-size:medium;
    font-weight: 100;
    margin-top: 20px;
}

.Pricing {
    position: absolute;
    border: none;
    outline: none;
    right: 450px;
    background-color: #0f111a;
    color: white;
    font-size:medium;
    font-weight: 100;
    margin-top: 20px;

}

.Solutions {
    position: absolute;
    border: none;
    outline: none;
    right: 350px;
    background-color: #0f111a;
    color: white;
    font-size:medium;
    font-weight: 100;
    margin-top: 20px;

}

.Resources {
    position: absolute;
    border: none;
    outline: none;
    right: 250px;
    background-color: #0f111a;
    color: white;
    font-size:medium;
    font-weight: 100;
    margin-top: 20px;
}
.RequestDemo{
     position: absolute;
    border: none;
    outline: none;
    right: 120px;
    background-color: #0f111a;
    color: white;
    font-size:medium;
    font-weight: 500;
    margin-top: 20px;


}